@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; 
    border:none;
    scroll-behavior: smooth;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: #efeeee;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    background: #565656;
}
.logo img{
    max-width: 120px;
    height: auto;
}
.navmenu{
    display: flex;
}
.navmenu a{
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;
    transform: scale(1.1);
}
.navmenu a:hover{
    color: #088178;
    transform: scale(1.1);
}
.nav-icon{
    display: flex;
    align-items: center;
}
.nav-icon i{
    margin-right: 20px;
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    transition: all .42s ease;
}
.nav-icon i:hover{
    transform: scale(1.1);
    color: #088178;
}
.searchbar{
    width: 250px;
    height: 30px;
    margin-right: 10px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
}
.searchbar:focus{
    border: 1px solid #fff;
    color: #fff;
}

#menu-icon{
    font-size: 35px;
    color: #fff;
    z-index: 10001;
    cursor: pointer;
}
header.sticky{
    background-color: #565656;
    padding: 20px 10%;
    box-shadow: 0px 0px 10px rgb(0 0 0 /10%);
    
}
.contact{
    margin-top: 100px;
    padding: 20px;
    background-color: #565656;
    color: #fff;
    height: 180px;
    align-items: center;
}
.contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(160px,auto));
    gap: 3rem;
    margin-top: 30px;
}
.first-info{
    margin-left: 50px;
}
.first-info img{
    width: 140px;
    height: auto;
    
}
.social-icon i{
    color: #fff;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 20px;
    transition: all .42s;
    
}
.social-icon i:hover{
    transform: scale(1.4);
    color: #088178;
}


.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px;
  min-height: 100vh;
  background: transparent;
 margin-top: 100px;
}

.container form{
  padding:20px;
  width:700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

.container form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.container form .row .col{
  flex:1 1 250px;
}

.container form .row .col .title{
  font-size: 20px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container form .row .col .inputBox{
  margin:15px 0;
}

.container form .row .col .inputBox span{
  margin-bottom: 10px;
  display: block;
}

.container form .row .col .inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
}

.container form .row .col .inputBox input:focus{
  border:1px solid #000;
}

.container form .row .col .flex{
  display: flex;
  gap:15px;
}

.container form .row .col .inputBox img{
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn{
  width: 100%;
  padding:12px;
  font-size: 17px;
  background: #27ae60;
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
}

.container form .submit-btn:hover{
  background: #2ecc71;
}

.checkbox-content .inputBox {
   display: flex;
   flex-direction: column;
   width: 100%;
   align-items: center;
}

.checkbox-content input{
  margin: 0 8px -2px 4px;
  accent-color: #3AD353;
}

