*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Jost', sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: #efeeee;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    background: #565656;
    
}
.logo img{
    max-width: 120px;
    height: auto;
}
.navmenu{
    display: flex;
}
.navmenu a{
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;
    transform: scale(1.1);
}
.navmenu a:hover{
    color: #088178;
    transform: scale(1.1);
}
.nav-icon{
    display: flex;
    align-items: center;
}
.nav-icon i{
    margin-right: 20px;
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    transition: all .42s ease;
}
.nav-icon i:hover{
    transform: scale(1.1);
    color: #088178;
}
.searchbar{
    width: 250px;
    height: 30px;
    margin-right: 10px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
}
.searchbar:focus{
    border: 1px solid #fff;
    color: #fff;
}

#menu-icon{
    font-size: 35px;
    color: #fff;
    z-index: 10001;
    cursor: pointer;
}
header.sticky{
    background-color: #565656;
    padding: 20px 10%;
    box-shadow: 0px 0px 10px rgb(0 0 0 /10%);
    
}
.contact{
    padding: 20px;
    background-color: #565656;
    color: #fff;
    height: 180px;
    align-items: center;
}
.contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(160px,auto));
    gap: 3rem;
    margin-top: 30px;
}
.first-info{
    margin-left: 50px;
}
.first-info img{
    width: 140px;
    height: auto;
    
}
.social-icon i{
    color: #fff;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 20px;
    transition: all .42s;
    
}
.social-icon i:hover{
    transform: scale(1.4);
    color: #088178;
}

/* Single Product */

#prodetails .single-pro-image{
    width: 27%;
    margin-right: 10%;
    margin-top: 5%;
    margin-left: 10%; 
     
}
.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-image-col{
    flex-basis: 24%;
    cursor: pointer;
}
#prodetails{
    display: flex;
    margin-top: 7%;
}
#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}
#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h2{
    margin-bottom: 20px;
    font-size: 30px;
}
#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#prodetails .single-pro-details input:focus{
    outline: none;
}

#prodetails .single-pro-details button{
    background: #08811a;
    color: #fff;
    height: 47px;
    width: 150px;
    border: none;
    font-size: 15px;   
    cursor: pointer;
    transition: all .25s ease;
}
#prodetails .single-pro-details button:hover{
   scale: 1.05;
}

#prodetails .single-pro-details span{
    line-height: 25px;
}
.section-p1{
    padding: 20px 40px;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgb(0,0,0,0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgb(70,62,221,0.1) ;
}

#feature .fe-box h6{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
    display: inline-block;
}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}
#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}

#product1 {
    text-align: center;
    margin: 100px;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 10%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid rgba(0, 0, 0, 0.21); 
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.21);
    margin: 15px 0;
    transition: 0.2s ease;
}

#product1 .pro:hover{
    box-shadow: rgba(0, 129, 136, 0.21);
    scale: 1.05;
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: center;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

